<!doctype html>
<html data-framework="vue">
<head>
	<title>A Vue.js slot example </title>
	<link href="css/slot.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div id="app">
  <!--Persons-->
  <my-list :items="persons" title="People">
    <template slot-scope="person">
      <div>{{ person.name }} <small>({{ person.tweet }} tweets)</small></div>
    </template>
  </my-list>
  <!--Parties-->
  <my-new-list :items="parties" title="Parties">
    <template slot-scope="party">
      <div>{{ party.name }} <small>({{ party.senators }} senators)</small></div>
    </template>
  </my-new-list>
  </div>
</div>

<script type="text/x-template" id="my-list">
<div class="my-list">
  <div class="title">{{ title }}</div>
  <div class="list">
    <div class="list-item" v-for="item in items">
      <slot v-bind="item"></slot>
    </div>
  </div>
</div>
</script>

<script type="text/x-template" id="my-new-list">
<div class="my-new-list">
  <div class="new-title">{{ title }}</div>
  <div class="new-list">
    <div class="list-item" v-for="item in items">
      <slot v-bind="item"></slot>
    </div>
  </div>
</div>
</script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script type="text/javascript" src="js/slot.js"></script>
</body>
</html>