<html>
<head>
  <title>Vue.js Pet Depot</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<div id="app">
  <header>
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <h1>{{ sitename }}</h1>
      </div>
      <div class="nav navbar-nav navbar-right cart">
        <button type="button" class="btn btn-default btn-lg" v-on:click="showCheckout">
          <span class="glyphicon glyphicon-shopping-cart">{{ cartItemCount}}</span> Checkout
        </button>
      </div>
    </div>
  </header>
  <main>
    <div class="row product">
      <div v-if="showProduct">

        <div class="col-md-2 col-md-offset-1">
          <figure>
            <img v-bind:src="product.image">
          </figure>
        </div>
        <div class="col-md-6 col-md-offset-2 description">
          <h1 v-text="product.title"></h1>
          <p v-html="product.description"></p>
          <p class="price">
            {{product.price | formatPrice}}
          </p>
      <button 
        class="default"  
        v-if = "canAddToCart"
				v-on:click="addToCart" 
				>Add to cart
      </button>
      <button 
        class="default"  
        v-else
        disabled
				v-on:click="addToCart" 
				>Add to cart
			</button>
        </div>
      </div>
      <div>Remaining inventory: {{product.availableInventory - cartItemCount}} </div>
      <div v-else>

      </div>
    </div><!--end of row-->

  </main><!--end of main-->

</div>
    <script type="text/javascript">
    var APP_LOG_LIFECYCLE_EVENTS = true;
    var webstore = new Vue({
      el: '#app',
      data: {
        sitename: "Vue.js Pet Depot",
        showProduct: true,
        order: {
          firstName: '',
          lastName: ''
        },
        product: {
          id: 1001,
          title: "Cat Food, 25lb bag",
          description: "A 25 pound bag of <em>irresistible</em>, organic goodness for your cat.",
          price: 2000,
          image: "assets/images/product-fullsize.png",
          availableInventory: 5
        },
        cart: []
      },
      methods: {
        addToCart: function() {
          this.cart.push( this.product.id );
        },
        showCheckout() {
            this.showProduct = this.showProduct ? false: true;
        },
      },
      computed: {
          cartItemCount() {
            return this.cart.length || '';
          },
          canAddToCart() {
            return this.product.availableInventory > this.cartItemCount;
          }
      },
      filters: {
        formatPrice(price) {	
          if (!parseInt(price)) { return ""; }	
          if (price > 99999) {	
            var priceString = (price / 100).toFixed(2);	
            var priceArray = priceString.split("").reverse();	
            var index = 3;	
            while (priceArray.length > index + 3) {	
              priceArray.splice(index+3, 0, ",");	
              index += 4;	
            }	
            return "$" + priceArray.reverse().join("");	
          } else {
            return "$" + (price / 100).toFixed(2);	
          }
        }

      },
      beforeCreate: function() {	
    if (APP_LOG_LIFECYCLE_EVENTS) {	
      console.log("beforeCreate");	
    }	
  },	
  created: function() {	
    if (APP_LOG_LIFECYCLE_EVENTS) {	
      console.log("created");	
    }	
  },	
  beforeMount: function() {	
    if (APP_LOG_LIFECYCLE_EVENTS) {	
      console.log(" beforeMount");	
    }	
  },	
  mounted:  function() {	
    if (APP_LOG_LIFECYCLE_EVENTS) {	
      console.log(" mounted"); 	
    } 	
  },	
  beforeUpdate:  function() { 	
    if (APP_LOG_LIFECYCLE_EVENTS) { 	
      console.log("beforeUpdate"); 	
    } 	
  },	
  updated:  function() { 	
    if (APP_LOG_LIFECYCLE_EVENTS) { 	
      console.log("updated"); 	
    } 	
  },	
  beforeDestroyed:  function() { 	
    if (APP_LOG_LIFECYCLE_EVENTS) { 	
      console.log("beforeDestroyed "); 	
    } 	
  },	
  destroyed:  function() { 	
    if (APP_LOG_LIFECYCLE_EVENTS) { 
      console.log("destroyed");
    } 	//#I
  }	//#I
});

    </script>
  </body>
</html>
